<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="d-flex justify-content-between">
        <h3>Contas</h3>

        <div class="inline">
          <button class="btn btn-primary" (click)="openModal(modal)">Novo</button>
        </div>
      </div>

    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Salario</th>
                </tr>
              </thead>
              @if (!loading$() && accounts().length) {
              <tbody>
                @for (account of accounts(); track account) {
                <tr>
                  <td><a href="javascript:void(0)" (click)="route(account)">{{account.name}}</a></td>
                  <td>{{account.categoryId == 1? 'Pessoal' : 'Financiamento'}}</td>
                  <td>{{account.salary|currency: 'BRL'}}</td>
                </tr>
                }

              </tbody>
              }
            </table>
          </div>

          @if (!accounts().length && !loading$()) {
          <div class="alert alert-info" role="alert">
            Nenhuma informação encontrada!
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modal>
  <app-modal-account [categories]="categories" [modalBs]="modalBs" (reload$)="reload()" />
</ng-template>