<nav id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 shadow">
  <a href="javascript:void(0)"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <i class="bi bi-bootstrap-fill fs-4 me-2"></i>
    <span class="fs-4">Finanças</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="javascript:void(0)" class="nav-link active" aria-current="page">
        <i class="bi bi-house-door"></i>
        Dashboard
      </a>
    </li>
    <li>
      <a href="javascript:void(0)" class="nav-link">
        <i class="bi bi-speedometer2"></i>
        Gestão de Contas
      </a>
    </li>
  </ul>
</nav>